

/* Định dạng toàn trang */
body { font-family: "Segoe UI", Arial, sans-serif;
       line-height: 1.6;
       background-color: #f1f4f9;
       color: #333; }

/* Định dạng đầu trang */
header { background: linear-gradient(135deg, #2c7be5, #1a5dcc);
         color: white;
         padding: 30px 15px;
         text-align: center; }

header h1 { font-size: 32px;
           text-align: center; }

header p { font-size: 16px; }

/* Định dạng phần chuyển hướng - menu */
nav { background-color: white;
      padding: 15px;
      text-align: center;
      border-bottom: 2px solid #e3e6ea; }

nav a { margin: 0 12px;
        text-decoration: none;
        color: #2c7be5;
        font-weight: 600;
        font-size: 15px; }

nav a:hover { color: #1a5dcc;
              text-decoration: underline; }

/* Định dạng khung nội dung chính */
main { max-width: 80%;
       margin: 30px auto;
       padding: 25px;
       background-color: white;
       border-radius: 8px;
       box-shadow: 0 2px 8px rgba(0,0,0,0.08); }

/* Định dạng tiêu đề phụ*/
main h2 { font-size: 24px;        
          color: #2c7be5;
          border-left: 5px solid #2c7be5;
          padding-left: 10px;   } 

/* Định dạng đoạn văn */
main p { font-size: medium;
         margin-bottom: 15px;
         text-align: justify; }

/* Định dạng danh sách chứa tên bài */
main ul { margin-left: 20px;
          margin-bottom: 20px; }

main li { margin-bottom: 8px;}

/* Định dạng khung nội tuyến */
iframe { width: 100%;
         height: 500px;
         border-radius: 6px;
         border: 1px solid #ccc;
         margin-bottom: 15px; }

/* Định dạng form */
form { background-color: #f8f9fc;
       padding: 20px;
       border-radius: 6px;
       margin-top: 25px; }

form h3 { margin-bottom: 10px;
          color: #2c7be5; }

form input, form textarea { width: 100%;
                            padding: 10px;
                            margin-bottom: 12px;
                            border-radius: 4px;
                            border: 1px solid #ccc;
                            font-size: 14px; }


/* Định dạng nút gửi */
form button { background-color: #2c7be5;
              color: white;
              padding: 10px 20px;
              font-size: 15px; }

form button:hover { background-color: #1a5dcc; }

/* Định dạng chân trang */
footer { text-align: center;
    margin-top: 25px; }

footer a { color: #2c7be5;
           text-decoration: none;
           font-weight: 600; }

footer a:hover { text-decoration: underline; }
